/* Reset Styles */

*	{ margin : 0px ; box-sizing : border-box ; }

table, th, td {
  border:1px solid black;
}

/* Structure of web page */
body { background : black; color: yellow;   }

/* To create gaps between articles */ 
article {margin-top:  10px; border : 3px double yellow; background : #1c1c1c;  margin: auto;
  width: 68%;
  padding: 10px;  }   



/*containers to put under "article"*/
box {margin-top: 5px; border: 1px solid black }


/*  Wrapper to centre webpage in browser */ 
section {
	width : 99%;
	margin : auto;
	background-color: #1c1c1c;
	color : yellow; 
	border : 3px double yellow ;
	padding: 3px;}
	

/* Style for main content area  */ 	
main { 
	width : 70%;
	padding : 10px ;
	color : yellow;	
	border : 2px solid yellow ;
	background: #1c1c1c;	}


/* Banner */ 
header {
	text-align: center;
	margin: auto;
	width: 70%;
	padding : 10px ;
	border-bottom : 5px solid yellow ; 
	background : #1c1c1c; 
	color : yellow;
	font-size: 62px;
	}

h1 {
	text-align: center;
	margin: auto;
	width: 70%;
	padding : 10px ;
	border-bottom : 5px solid yellow ; 
	background : #1c1c1c; 
	color : yellow;
	font-size: 62px;
	}


/* Menu */
nav {
	margin: auto;
	width : 70%;
	height : 50px; 
	padding : 10px; 
	border-bottom : 5px double yellow ;
	background : #1c1c1c; 
	color : yellow; 
	}

/* Footer */ 
footer{ 
	width : 100px
	clear : both ; 
	padding : 10px; 
	border : 5px double yellow ;
	background : #1c1c1c; 
	color : yellow;
	position: absolute;
	bottom: 0;
	}
	
#enemy{
	width: 20%;
	height: 20%;
}



/* List rules */ 
main ul { 
	list-style-type: circle;
	padding-left: 20px;
	}

main ul li {
	text-align: left;
}


/* font rules */ 
header {font-family : "Times New Roman", cursive ; font-size: 16px; text-align :left;}
nav {font-family : "Times New Roman", cursive ; font-size: 16px; text-align :left;}
main {font-family : "Times New Roman", cursive ; font-size: 16px; text-align :left;}
footer{font-family : "Times New Roman", cursive ; font-size: 16px; text-align :left;}

main h1, h2, h3, h4, p { text-align :left; }



/* Hyperlink rules */ 
footer a {text-decoration: none; font-weight: bold;}
nav a {text-decoration: none; font-weight: bold;}

footer a:link, a:hover, a:active { color: yellow; }
footer a:visited { color: White; } a:hover { color: white }

nav a:link, a:hover, a:active { color: yellow; }
nav a:visited { color: White; } a:hover { color: white }

main a:link, a:hover, a:active { color: yellow; }
main a:visited { color: White; } a:hover { color: white }



/* Navigation Styles */
nav ul { list-style-type : none ; margin : 0 ; padding : 0 ;  overflow : hidden ; }

nav li a { 
	display : block ; 
	text-align : center ; 
	text-decoration : none ; 
	color : yellow ; 
	padding : 10px ; 
	float : left ; }

nav li a:current { background : #1c1c1c ; }
nav li a:hover { background : yellow ; color : yellow ; }




/* Image rules */
#imgFloatRight1 {float: right; margin: 0px 15px 15px 15px;}

#imgtoplogo {width: 4%; height: 4%; }





/* Table Caption */ 
.caption {
	font-family : "Arial", cursive ; 
	font-size: 10px; 
	text-align :centre;
	font-weight:bold;
}





/* dropdown style */
.dropdown {
  display: inline-block;
 
}

/* Style the dropdown button */
.dropbtn {
  background-color: #1c1c1c;
  color: yellow;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1c1c1c;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside dropdown content */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #1c1c1c
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color: #1c1c1c;
} 